* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
  background-color: black;

}

main {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 768px) {
  main {
    width: 90%;

  }
}