/* client/src/components/FlipbookViewer/FlipbookViewer.module.css */

.container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* overflow-x: hidden; */
    /* padding-top: 40px; */
    /* padding-bottom: 100px; */
}

.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111827; /* Warna gelap ala Tailwind gray-900 */
    z-index: 9999;
}

.documentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 640px) {
    .transformWrapper {
        /* HARUS top center agar saat di-scale tidak melorot ke bawah */
        transform-origin: top center; 
    }
}