.fanzineContainerPage{
    padding-bottom:40px ;
    background-color: hsl(228,12%,8%);
    color: #fff;
}
.fanzineContainer {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-color: hsl(228, 16%, 12%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


@media (max-width: 900px) {
    .fanzineContainer {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
}


@media (max-width: 500px) {
    .fanzineContainer {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
    }
}