.articleCard {
    flex-basis: calc((100% - 40px) / 3);
    min-width: 0;
    flex-shrink: 0;
    padding: 1.5px;
}

.link {
    text-decoration: none;
    color: rgb(236, 232, 225);
}

.cardImage {
    overflow: hidden;
    aspect-ratio: 2 / 1.1;
    border: 1px solid white;
    background-color: #333;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardHeader{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 22px;
}

.cardAuthor{
    padding-right: 10px;
    border-right: solid silver 1px;
    color: rgb(255, 70, 85);
    font-weight: bold;
}

.cardTitle{
    margin-bottom: 4px;
    color: rgb(32, 201, 151);;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: bold;
}

.cardDescription{
    font-size: 0.9rem;
    line-height: 22px;
}