@font-face {
    font-family: 'Capture It';
    src: url('../fonts/Capture\ it.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

/*
=================================================================
    DEFINISI FONT LOKAL (SELF-HOSTED)
    File ini mendefinisikan font kustom yang dimuat dari folder /fonts/
    Menggunakan font-display: swap; untuk performa (menghindari teks kosong).
=================================================================
*/
/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */



/* 
-------------------------------------
    1. ROBOTO (Font untuk Teks / Body)
-------------------------------------
*/

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v49-latin/regular.woff2') format('woff2');
}

/* roboto-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v49-latin/italic.woff2') format('woff2');
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v49-latin/700.woff2') format('woff2');
}

/* roboto-700italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto-v49-latin/700italic.woff2') format('woff2');
}

/* oswald-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-v57-latin/regular.woff2') format('woff2');
}

/* oswald-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/oswald-v57-latin/700.woff2') format('woff2');
}