.container {
    width: 100%;
    padding-bottom: 40px;
    background-color: #222526;
    color: white;
}


.videoGridContainer {
    width: 80%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.videoItem {
    padding: 20px;
    border-radius: 40px;
    /* box-shadow: 3px 3px 7px #0e0e0e,
        -3px -3px 7px #383838; */
    box-shadow: 2px 2px 5px #0e0f0f,
        -1px -1px 3px #363b3d;
}

.videoWrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 20px;
}

.videoTitle {
    padding: 20px 0;
}

.description {
    font-size: 24px;
}