/* 
--first-color: hsl(228, 66%, 62%);
--second-color: hsl(25, 57%, 42%);
--title-color: hsl(228, 8%, 95%);
--text-color: hsl(228, 8%, 70%);
--border-color: hsl(228, 16%, 14%);
--body-color: hsl(228, 12%, 8%);
--container-color: hsl(228, 16%, 12%);
 */

.fullContainer {
    width: 100%;
    background-color: hsl(228, 12%, 8%);
    /* background-color: crimson; */

}

.hero {
    width: 90%;
    margin: auto;
    height: 100px;
    background-color: hsl(228, 16%, 12%);

}

.articleDetailPageContainer {

    animation: fadeIn 1s ease-out forwards;
    background-color: transparent;
    width: 90%;
    margin: 10px auto 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.articleContainer {
    flex-basis: 65%;
    /* background-color: #312F2C; */
    background-color: hsl(228, 16%, 12%);
    padding: 15px;
    color: hsl(228, 8%, 70%);
}


.recentArticle {
    flex-basis: 35%;
    background-color: hsl(228, 16%, 12%);

    height: fit-content;
    padding: 15px;
}

.recentArticle>h2 {
    color: #ABD1C6;
    color: hsl(228, 8%, 95%);
    line-height: 1.9rem;
    font-size: 1.7rem;
    margin-bottom: 10px;

}

.heroImage {
    width: 100%;
}

.articleTitle {
    font-size: 1.7rem;
    line-height: 1.9rem;
    color: #ABD1C6;
    color: hsl(228, 8%, 95%);
}

.wrapApaYa {
    display: flex;
    margin-top: 10px;
    /* gap: 10px; */
    justify-content: space-between;
}

.metaInfo {
    font-size: 1rem;
    color: #ABD1C6;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.sliderFontSize {
    background-color: transparent;
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    /* border: 1px solid white; */

}

.articleContent {
    display: grid;
    row-gap: 1.25rem;
    text-align: justify;
}

.recentItem {
    display: flex;
    /* background-color: #ABD1C6; */
    gap: 10px;
    color: hsl(228, 8%, 95%);
}

.recentItem>.recentImg {
    /* width: 200px; */
    /* flex-basis: 20%; */
    /* width: 100%; */
    width: 150px;
    height: auto;
}

.recentImg>img {
    width: 100%;
}

.recentItem>.recentBody {
    /* flex-basis: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 10px; */

}



@media (max-width: 868px) {
    .articleDetailPageContainer {
        /* Ubah arah flex menjadi kolom (vertikal) */
        flex-direction: column;

        /* Sedikit penyesuaian margin & width untuk mobile */
        /* margin-top: 90px; */
        width: 90%;
    }

    .articleContainer,
    .recentArticle {
        /* Reset flex-basis agar lebarnya 100% dan tingginya otomatis sesuai konten*/
        flex-basis: auto;

    }
}

@media (max-width: 768px) {
    .hero {
        height: 70px;
    }

    .articleTitle {
        font-size: 1.2rem;
    }

    .metaInfo {
        font-size: 0.9rem;
    }

}