.pageWrapper {
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
/* Grid untuk kartu */
.gridContainer {
    display: grid;
    /* 1 kolom di mobile */
    grid-template-columns: 1fr;
    gap: 30px;

    /* Kontainer standar */
    max-width: 1450px;
    margin: 0 auto;
}

/* 2 kolom di tablet */
@media (min-width: 600px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 3 kolom di desktop */
@media (min-width: 1000px) {
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}