.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../assets/background/hero_home.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* max-width: 1500px; */
}

.title {
    font-size: 4rem;
    margin-bottom: 10px;
    line-height: 1.2;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 1.7px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.logoInText {
    height: 1.3em;
    width: auto;
    vertical-align: sub;
    display: inline-block;
}

.subtitle {
    font-size: 1.5rem;
    /* max-width: 600px; */
    margin-bottom: 30px;
    color: #e0e0e0;
}

/* Di sinilah Anda menambahkan media query Anda! */
@media (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 1rem;
    }
}